@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background: linear-gradient(
      159.02deg,
      rgb(15, 18, 59) 14.25%,
      rgb(9, 13, 46) 56.45%,
      rgb(2, 5, 21) 86.14%
    )
    center center / cover no-repeat;
  height: 100vh;
  overflow-y: auto;
}
